@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

html, body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  height: 100%;
}

.failure {
  color: red;
}

nav {
  height: 100%;
  margin-right: 32px;
  background-color: #f1f1f1;
}

nav .active {
  background-color: #f3d8ed;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #555;
  color: white;
}


.aside-container {
  text-decoration: none;
  flex: 0 0 20%;
  padding: 30px;
}

.people-list {
  text-decoration: none; 
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.people-list-item {
  display: block; 
  color: black; 
  padding: 10px; 
  margin-bottom: 15px; 
  text-align: center; 
}

.people-list-item:last-child {
  margin-bottom: 0px; 
}

.people-list-item a {
  text-decoration: none; 
  color: black; 
  padding: 5px;
  border-radius: 5px;
}

.people-list-item a.active{
  background-color: blue;
  color: white;
}

.pagination-link {
  cursor: pointer;
  color: black;
  text-decoration: none; 
  font-weight: bold;
  font-size: 30px;
}

.pagination-link:hover {
  color: darkblue;
}

input, textarea {
border: 1px solid #ababab;
padding: 5px;
margin: 5px;
font-size: 18px;
}

button {
background-color: #2b7bbe;
color: #fff;
border: 2px solid #2b7bbe;
border-radius: 3px;
font-size: 18px;
font-weight: 300;
padding: 5px 10px;
margin: 5px;
cursor: pointer;
}

button:hover {
background-color: #71b5ed;
}

.page-container {
display: flex;
}




/* search form  */
.search-form {
  margin-top: 20px;
}

.login-page {
  display: inline-block;
  padding: 1rem;
}

.logout{
  border: 1px solid #ababab;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(184, 184, 184);
  border-radius: .5rem;
  
}

.logout:hover {
  background-color: #2b7bbe;
  color: white;
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}